<!DOCTYPE html>
<html>
  <head>
    <title>Chatty Cathy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
  </head>
  <body>
    <div class="large-6 columns large-centered">
      <% if notice %>
        <div data-alert class="alert-box info radius">
          <%= notice %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <% if alert %>
        <div data-alert class="alert-box alert radius">
          <%= alert %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
